:root {
    --primary: #00588F;
    --secondary: #E0A451;
    --text: #ffffff;
}

.bg{
    background-color: var(--primary);
    border: 2px solid red;
    color: var(--text);
}

/* .LIGHT {
    background-color: var(--secondary);
    color: var(--primary);
}

.DARK {
    background-color: #00588F;
    color: #E0A451;
} */