:root {
    --primary: #00588F;
    --secondary: #E0A451;
    --text: #ffffff;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.resumeContainer {
    margin-top: 200px;
}

.phoneContainer {
    height: 25px;
}

.bg {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    color: var(--text);
}

.card {
    margin-top: 15%;
    color: var(--text);
    background-color: var(--primary);
    border: 8px solid var(--secondary);
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.5);
}

.img-contact-phone {
    max-height: 250px;
    margin: -25% 0 0 -38% ;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0,0.5));
}

.numero {
    margin: -15% 0 3% 30%;
}

.img-contact-courriel {
    max-width: 25%;
    margin: -10% 0 0 0;
    padding: 0 0 5% 0;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0,0.5));
    transform: rotate(20deg);
}

.img-resume-fantassin {
    max-width: 60%;
    margin: -10% 0 0 0;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0,0.5));
}

.body-resume {
    border: 5px solid red;
}