:root {
    --primary: #00588F;
    --secondary: #E0A451;
    --text: #ffffff;
}

a {
    color: var(--text);
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.presentation-bg {
    height: 100vh;
    background-image: url("./images/pars-sahin-V7uP-XzqX18-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 100% 50%, center; */
    background-position: 100% 50%;
    background-attachment: fixed;
    background-origin: center;
}

.resume-bg {
    /* height: 100vh; */
    background-image: url("./images/pars-sahin-V7uP-XzqX18-unsplash-blur.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    /* background-position: 100% 50%, center; */
    background-position: 100% 50%;
    background-attachment: fixed;
    background-origin: center;
}

.resumeContainer {
    margin-top: 600px;
}

.projectContainer {
    margin-top: 200px;
    height: 600px;
}

.resumeContainer-small {
    margin-top: 25px;
}

.phoneContainer {
    height: 25px;
}

.bg {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    color: var(--text);
}

.card {
    color: var(--text);
    background-color: var(--primary);
    border: 8px solid var(--secondary);
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.img-contact-phone {
    max-height: 250px;
    margin: -25% 0 0 -38% ;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0,0.5));
}

.numero {
    margin: -15% 0 3% 30%;
}

.img-contact-courriel {
    max-width: 25%;
    margin: -10% 0 0 0;
    padding: 0 0 5% 0;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0,0.5));
    transform: rotate(20deg);
}

.img-resume-fantassin {
    max-width: 60%;
    margin: -50% 0 0 0;
    filter: drop-shadow(5px 10px 15px rgba(0, 0, 0,0.85));
}

.img-project {
    margin: -13% 0 0 0;
    filter: drop-shadow(5px 10px 15px rgba(0, 0, 0,0.85));
}

.body-resume {
    margin-top: 25px;
    border-top: 4px solid var(--secondary);
}

.body-project {
    margin-top: 25px;
    border-top: 4px solid var(--secondary);
}