@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --primary: #00588F;
    --secondary: #E0A451;
    --text: #ffffff;
}

a {
    color: var(--text);
}

h1{
    font-family: 'DM Serif Display', serif;
    font-size: 64px;
    color: #fff;
}

.border-h1 {
    border-bottom: 5px solid var(--secondary);
    border-radius: 15px;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.paddingtop{
    padding-top: 100px;
}

.presentation-bg {
    height: 101vh;
    background-image: url("./images/pars-sahin-V7uP-XzqX18-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 100% 50%, center; */
    background-position: center;
    background-attachment: fixed;
    background-origin: center;
    margin-top: -95px;
}

.height-vh {
    height: 100vh;
}

.blur-bg {
    background-image: url("./images/pars-sahin-V7uP-XzqX18-unsplash-blur.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    /* background-position: 100% 50%, center; */
    background-position: 100% 50%;
    background-attachment: fixed;
    background-origin: center;
    padding-bottom: 25px;
    margin-top: -95px;
    /* padding-top: ; */
}

.resumeContainer {
    margin-top: 600px;
}

.projectContainer {
    margin-top: 200px;
    height: 600px;
}

.resumeContainer-small {
    margin-top: 25px;
}

.phoneContainer {
    height: 25px;
}

.contactMargin {
    padding-top: 45px;
}

.courrielMargin {
    padding-top: 25%;
}

.card {
    color: var(--text);
    background-color: var(--primary);
    border: 8px solid var(--secondary);
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.height {
    height: 150px;
}

.img-contact-phone {
    height: 65%;
    margin: -25% 0 0 -38% ;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0,0.5));
}

.numero {
    margin: -15% 0 3% 30%;
}

.img-contact-courriel {
    width: 25%;
    margin: -10% 0 0 0;
    padding: 0 0 5% 0;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0,0.5));
    transform: rotate(20deg);
}

.img-resume-fantassin {
    max-width: 60%;
    margin: -50% 0 0 0;
    filter: drop-shadow(5px 10px 15px rgba(0, 0, 0,0.85));
}

.img-project {
    margin: -13% 0 0 0;
    filter: drop-shadow(5px 10px 15px rgba(0, 0, 0,0.85));
}

.body-resume {
    margin-top: 25px;
    border-top: 4px solid var(--secondary);
}

.body-project {
    margin-top: 25px;
    border-top: 4px solid var(--secondary);
}

/* .container {
    margin:0,
}

.sections {
    padding: 8px;
    flex: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0);
}

.main {
    padding-right: 10px;
    color: #000000;
}

.link {
    padding: 0 50px;
    font-size: 28px;
    text-decoration: none;
    color: #000000;
} */